{% extends 'layout/search.html.j2' %}
{% from 'macros/util.html.j2' import render_comments, render_copyright, render_recordings, render_paginator %}

{% block resultbody %}
    <div class="center-block" style="width: 80%;">
        <h2>{{ entity.entity_type }}</h2>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h3 class="indented">
                            {{ entity.full_name }}
                            {% if entity.alt_name is not none %}
                                    ({{ entity.alt_name }})
                            {% endif %}
                        </h3>
                    </div>
                    <div>
                        <h3 class="indented">
                            {{ entity.location }}
                        </h3>
                    </div>
                    <div>
                        <h3 class="indented">
                            {{ entity.dates }}
                        </h3>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        {{ render_comments(entity) }}
        {{ render_recordings(works.page) }}
        {{ render_paginator(works.page, '') }}
   </div>
{% endblock %}
