{% extends 'layout/main.html.j2' %}
{% block body %}
    <div class="loading" data-loading="page"></div>
        <div><div>
		<div id="main-page" class="container">
			<main>
				<div>
					<div class="content_padded">
				    	<div style="display:block;">
				    		<a href="#" class="show_index" rel="show_index" style="display: none">✕</a>
				    		<div id="content" class="padded" data-id="145850">
					    		<div>
					    			<div id="project-title">
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <div style="text-align: center;">
                                            <h1>POÉTICA<i>S</i>ONORA</h1>
                                            <br>
                                            <h2>Voz, legibilidad, escucha<br></h2><br><br>
                                            <br>
                                            <br>
                                            <div><u><a href="{{ url("home") }}" rel="history">Repositorio Digital de Audio</a></u><br>
                                                Digital Audio Repository
                                                    <br>
                                                (2016-2017)
                                                    <br>
                                                    <br>
                                                <a href="http://poeticasonora.mx/PoeticaSonora_2017_Inicio" rel="history"><u>Programa de activaciones</u></a><br>
                                                Activation Program
                                                    <br>
                                                (2017)
                                                    <br>
                                                    <br>
                                                <a href="http://poeticasonora.mx/PoeticaSonora_2016_Inicio" rel="history"><u>Programa de activaciones</u></a>
                                                    <br>
                                                Activation Program<a href="Inicio" rel="history">
                                                    <br>
                                                    (2016)</a>
                                            </div>
                                            {% include 'includes/_footer.html.j2' %}
                                      <div>
                                          <a href="https://lleom.net/" class="image-link" target="_blank">
                                              <img src="//payload.persona.co/1/0/28105/145850/lleom_logo_negro_403.jpeg" width="403" height="156"
                                                   width_o="403" height_o="156" src_o="//payload.persona.co/1/0/28105/145850/lleom_logo_negro_403.jpeg"
                                               data-mid="310542" border="0"data-scale="50"/></a>
                                          <br>
                                          <br>
                                      </div>
                                    </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
        </div>

{% endblock %}
