{% extends 'layout/search.html.j2' %}
{% from 'macros/util.html.j2' import render_recordings, render_paginator %}

{% block resultbody %}
    <div class="container search-container">
        <div class="row">
           <div class="col-md-10">
               {{ render_recordings(works.page) }}
           </div>
            <div class="col-md-2">
                {% include 'includes/_sidebar.html.j2' %}
            </div>
        </div>
        {{ render_paginator(works.page, works.search_terms) }}
    </div>


{% endblock %}