{% extends 'layout/search.html.j2' %}
{% from 'macros/util.html.j2' import render_entity_ls, render_table, render_comments, render_copyright,
render_table %}

{% block resultbody %}
    <div class="center-block" style="width: 80%;">
        <br>
        <h2 class="indented">
            {{ work.full_name }}
            {% if work.alt_name is not none %}
                    ({{ work.alt_name }})
            {% endif %}
        </h2>
        <br>
        <br>
        <div>
            <div class="row" id="wavesurfer-container">
            </div>
            <br>
            <div class="row">
                {{ render_entity_ls('Composers', entities.composers) }}
                {{ render_entity_ls('Interpreters', entities.interpreters) }}
                {{ render_entity_ls('Other', entities.others) }}
                <br>
            </div>
            {{ render_comments(work) }}
            <div class="row">
                <div class="col-md-6">
                    {{ render_table(_('Tags'), work.tags) }}
                </div>
                <div class="col-md-6">
                    {{ render_table(_('Languages'), work.languages) }}
                </div>
            </div>
        </div>
        {{ render_copyright(work) }}
        <script>
            let audioIterator = {
                containersIds: ["wavesurfer-container"],
                audioPaths: ["{{ work.audio }}"],
                waveformPeaks: [null]
            };
            {% if work.waveform_peaks is not none %}
                audioIterator.waveformPeaks = [{{ work.waveform_peaks }}];
            {% endif %}
        </script>
    </div>
{% endblock %}
