{% from 'macros/util.html.j2' import render_place, render_name, render_none %}

{% macro render_about(artist) -%}
    <div>
        {% if artist.coment_part is not none %}
            <h4>Sobre el Autor</h4>
            <h3 class="indented">{{ artist.coment_part }}</h3>
            <br>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_artists(artists) -%}
    {% if artists|length > 0 %}
        <div class="card">
            <div class="card-header" role="tab" id="autor-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#autor-collapse" aria-expanded="true" aria-controls="autor-collapse">
                        Autor
                    </a>
                </h3>
            </div>
            <div id="autor-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped mod-tables">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Origen</th>
                            <th>Nacimiento</th>
                            <th>Muerte</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for artist in artists %}
                        <tr>
                            <td><a class="no-underline" href="{{ url("artist", artist_id=artist.part_id) }}">
                                    {{ render_name(artist) }}</a>
                            </td>
                            <td>{{ render_place(artist) }}</td>
                            <td>{{ render_none(artist.fecha_comienzo) }}</td>
                            <td>{{ render_none(artist.fecha_finale) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}