{% from 'macros/util.html' import render_name_links, render_none  %}

{% macro render_composition(composition) -%}
        <tr>
            <td><a class="no-underline" href="{{ url("composition", composition_id=composition.0.comp_id) }}">
                {{ composition.0.nom_tit }}
                    {% if composition.0.nom_alt is not none and composition.0.nom_alt != "" %}
                        | {{ composition.0.nom_alt }}
                    {% endif %}
                </a>
            </td>
            <td>{{ render_none(composition.0.numero_de_pista) }}</td>
            <td>{{ render_none(composition.0.fecha_pub) }}</td>
            <td>
                {% for autor in composition %}
                    {{ render_name_links(autor) }}{{ ", " if not loop.last else "" }}
                {% endfor %}
            </td>
        </tr>
{% endmacro %}

{% macro render_compositions(compositions) -%}
    {% if compositions|length > 0 %}
        <div class="card">
            <div class="card-header" role="tab" id="composicion-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#composicion-collapse" aria-expanded="true" aria-controls="composicion-collapse">
                        Composición
                    </a>
                </h3>
            </div>
            <div id="composicion-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped mod-tables">
                    <thead>
                        <tr>
                            <th>Título</th>
                            <th>Número de pista</th>
                            <th>Fecha publicación</th>
                            <th>Autor(es)</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for composition in compositions %}
                       {{ render_composition(composition) }}
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}


