{%  macro render_name_link(entity) -%}
        <a href="{{ url("entity", entity_id=entity.id) }}">{{ entity.name }}</a>
{% endmacro %}


{%  macro render_name_relation(entity) -%}
      {{ render_name_link(entity) }} - {{ entity.relationship }} <br>
{% endmacro %}

{%  macro render_entity(entity) -%}
      {{ render_name_link(entity) }} - {{ entity.relationship }} <br>
{% endmacro %}

{% macro render_entity_ls(entity_type, entities) %}
<div>
    <h4>{{ _(entity_type) }}</h4>
    <h3 class="indented">
        {% for entity in entities %}
            {{ render_name_relation(entity) }}
        {% endfor %}
    </h3>
</div>
{% endmacro %}

{% macro render_place(result, muer=False) -%}
    {% set lugar %}
        {% if muer %}
            {% if result.city_of_death is not none and result.city_of_death is defined %}
                {{ result.city_of_death }},
            {% endif %}
            {% if result.subdivision_of_death is not none and result.subdivision_of_death is defined %}
               {{ result.subdivision_of_death }},
            {% endif %}
            {% if result.country_of_death is not none %}
               {{ result.country_of_death }}
            {% endif %}
        {% else %}
            {% if result.city_of_origin is not none and result.city_of_origin is defined %}
                {{ result.city_of_origin }},
            {% endif %}
            {% if result.subdivision_of_origin is not none and result.subdivision_of_origin is defined %}
               {{ result.subdivision_of_origin }},
            {% endif %}
            {% if result.country_of_origin is not none %}
               {{ result.country_of_origin }}
            {% endif %}
        {% endif %}
    {% endset %}
    {% if lugar|trim == "" %}
        <div style="display: inline;">Desconocido</div>
    {% else %}
        <div style="display: inline;">{{ lugar|safe }}</div>
    {% endif %}
{% endmacro %}


{% macro render_select(value, default) -%}
    {% if value|lower == default|lower %}
    <option value="{{ value|lower|safe }}" selected>{{ value|safe }}</option>
    {% else %}
    <option value="{{ value|lower|safe }}">{{ value|safe }}</option>
    {% endif %}
{% endmacro %}


{% macro render_none(value, output=none) -%}
    {% if value is not none %}
        {{ value|safe }}
     {% elif output is not none %}
       {{ output|safe }}
    {% endif %}
{% endmacro %}

{% macro render_table(list, name) -%}
    {% if list|length > 0 %}
        <hr>
        <div class="card">
            <div class="card-header" role="tab" id="{{ name|safe }}-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#{{ name|safe }}-collapse" aria-expanded="true" aria-controls="{{ name|safe }}-collapse">
                        {{ name|safe|title }}
                    </a>
                </h3>
            </div>
            <div id="{{ name|safe }}-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped">
                    <tbody>
                    {% for entry in list %}
                        <tr>
                            <td>{{ entry.nom }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}