a { color: inherit; }

.sidebar-dims{
    height: 500px;
    width:200px;
    overflow-y: scroll;
}

.input-searchbar {
    border-right-style: none;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.dropdown-searchbar {
    border-left-style: none !important;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
}


.main-container {
    width: 80%;
}

.no-col-pad {
    padding-left: 0;
    padding-right: 0;
}

.time-span {
    padding-left:10px;
}

.search-bar-margin {
    margin-right: 69px;
    margin-left: 69px;
}


.wavesurfer-padding {
    padding-left:30px;
    padding-right:30px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-left:30px;
    border-right:30px;
    border-bottom: 10px;
    border-top: 10px;
}

.main-search-container {
    width: 60%;
}

.search-container {
    width: 80%;
}

.wide-container {
    width: 100%;
}

/**
 * Content
 */

i, em {
	font-style: italic;
}


ul, ol {
	margin: 0;
	padding: 0 0 0 1em;
}


img {
	border: 0;
	padding: 0;
}

blockquote {
	margin: 0;
	padding: 0 0 0 2em;
}

hr {
	background: rgba(127, 127, 127, 0.2);
	border: 0;
	height: 0.08em;
	display: block;
}

main {
	font-size: 2rem;
	font-weight: 400;
	color: rgb(29, 30, 31);
	font-style: normal;
	line-height: 1.1;
}

main a {
	color: rgb(42, 39, 39);
    padding-bottom: 0;
    border-bottom: 0 solid rgba(127, 127, 127, 0.2);
    text-decoration: none;
}

h1 {
	font-style: normal;
	font-weight: 500;
	padding: 0;
	margin: 0;
	font-size: 6.9rem;
	line-height: 0.8;
	color: rgb(14, 15, 15);
	text-rendering: optimizeLegibility;
}

h1 a {
	color: rgb(31, 31, 31);
}

h2 {
	font-style: normal;
	font-weight: 400;
	padding: 0;
	margin: 0;
	color: rgb(27, 28, 30);
	font-size: 5rem;
	line-height: 0.8;
	text-rendering: optimizeLegibility;
}

h2 a {
	color: rgb(46, 46, 51);
}

small {
	display: inline-block;
	font-size: 1.6rem;
    letter-spacing: 0.1rem;
	line-height: 1;
	font-family: 'Cormorant Garamond', Social /*!Google*/;
	font-style: normal;
	font-weight: 400;
	color: rgb(32, 33, 35);
}

small a {
	color: rgb(26, 28, 30);
}

.inline-list{
  display: inline;
  list-style-type: none;
  padding-right: 20px;
  float: left;
}

.li-link{
    padding-bottom: 5px !important;
    padding-top: 5px !important;
    padding-left: 15px;
    padding-right: 15px;
}


.fade-in {
  margin: 25px 10px;
  width: 256px;
  height: 256px;
  background: #141414;
  box-shadow: 0 0 15px 10px #141414;
}


.header-padding{
    padding-bottom: 5px;
    padding-top: 5px;
}

.organization {
	display: none;
}

.right {
    text-align: right;
    float: right;
}

a.underline{
    text-decoration: underline;
}

.no-underline{
    text-decoration: none;
}

.skinny {
    width: 95%;
}

@media screen and (min-width: 1440px) {

    .skinny {
        width: 80%;
    }
}

.row-bordered {
  content: "";
  display: block;
  border-left: 1px solid #ccc;
  margin: 0 15px;
}


.footer {
  margin: auto;
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear:both;
  padding-top:20px;
}


.dropdown.dropdown-lg .dropdown-menu {
    margin-top: -1px;
    padding: 6px 20px;
}
.input-group-btn .btn-group {
    display: flex !important;
}
.btn-group .btn {
    border-radius: 0;
    margin-left: -1px;
}
.btn-group .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.btn-group .form-horizontal .btn[type="submit"] {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.form-group .form-control:last-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

@media screen and (min-width: 768px) {
    .dropdown.dropdown-lg {
        position: static !important;
    }
    .dropdown.dropdown-lg .dropdown-menu {
        min-width: 500px;
    }
}

body {
    font-family: "Palatino Linotype" , serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
}

/*!
 * Content
 */

#content {
    word-wrap: break-word;
}

[data-content-ruler] {
    max-width: 100%;
}

.sidebar-nav-fixed {
	width: 16%;
}
