{% extends 'layout/search.html.j2.j2' %}
{% from 'macros/util.html.j2' import render_place, render_none %}
{% from 'macros/composition.html.j2' import render_compositions %}
{% from 'macros/artist.html.j2' import render_artists %}
{% from 'macros/artist.html.j2' import render_about %}

{% block resultbody %}
    <div class="center-block" style="width: 80%;">
        <h2>Colectivo</h2>
        <hr>
        <div>
            <h4>Nom</h4>
            <h3 class="indented">
                {{ collective.nom_part }}
            </h3>
        </div>
         <br>
        <div>
        <h4>Origin</h4>
            <h3 class="indented">{{ render_none(collective.fecha_comienzo) }}</h3>
            <h3 class="indented">{{ render_place(collective) }}</h3>
        </div>
        <br>
        {{ render_about(collective) }}
        <br>
        {{ render_artists(artists) }}
        <hr>
        {{ render_compositions(compositions) }}
        {% if performances|length > 0 %}
        <hr>
        <div>
            <h3>Realizado</h3>
            {{ render_compositions(performances) }}
        </div>
        {% endif %}
    </div>
{% endblock %}
