{% extends 'layout/search.html' %}
{% from 'macros/util.html' import render_name_links, render_table %}
{% from 'macros/performance.html' import render_performance %}

{% block resultbody %}
    <div class="center-block" style="width: 80%;">
        <h2>Composicion</h2>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h4>Título</h4>
                        <h3 class="indented">
                            {{ composition.0.nom_tit }}
                            {% if composition.0.nom_alt is not none and composition.0.nom_alt|trim != "" %}
                                    ({{ composition.0.nom_alt }})
                            {% endif %}
                        </h3>
                    </div>
                    <br>
                    <div>
                        <h4>Autor</h4>
                        <h3 class="indented">
                            {% for autor in composition %}
                                {{ render_name_links(autor) }} ({{ autor.rol_composicion }}) <br>
                            {% endfor %}
                        </h3>
                    </div>
                    <br>
                    <div>
                        {% if composition.0.fecha_pub is not none %}
                            <h4>Fecha</h4>
                            <h3 class="indented">{{ composition.0.fecha_pub }}</h3>
                        {% endif %}
                    </div>
                    <br>
                     <div>
                        {% if composition.0.serie_id is not none %}
                            <h4>Serie</h4>
                            <h3 class="indented">
                                <a href="{{ url("series", series_id=composition.0.serie_id) }}">
                                    {{ composition.0.nom }}
                                </a>
                            </h3>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                     {% if composition.0.ruta_foto is not none %}
                    <div class="text-center fade-in">
                            <img src="{{ static('images/albums/' + composition.0.serie_id|string
                                                           + '/' + composition.0.ruta_foto|string) }}"
                            height="98%" width="98%">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div>
            {% if composition.0.texto is not none and composition.0.texto|trim != "" %}
                <h4>Texto</h4>
                <p class="skinny text-center center-block"> {{ composition.0.texto }}</p>
                <br>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-6">{{ render_table(themes, 'temas') }}</div>
            <div class="col-md-6">{{ render_table(languages, 'idiomas') }}</div>
        </div>
        <div>
            <p class="text-center center-block">{{ composition.0.licencia_cobertura }}</p>
        </div>
        {% for performance in performances %}
            {{ render_performance(performance) }}
        {% endfor %}
    </div>
{% endblock %}
