{% extends 'layout/search.html.j2' %}
{% from 'macros/util.html.j2' import render_entity_ls, render_table %}
{% from 'macros/performance.html.j2' import render_performance %}

{% block resultbody %}
    <div class="center-block" style="width: 80%;">
        <h2>{{ _('Recording') }}</h2>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-1">
                    <button onclick="wavesurfer.playPause()">
                      Play | Pause
                    </button>
                    <button onclick="wavesurfer.toggleMute()">
                      Toggle Mute
                    </button>
                </div>
                <div class="col-md-11" id="wavesurfer-waveform">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h4>{{ _('Title') }}</h4>
                        <h3 class="indented">
                            {{ work.full_name }}
                            {% if work.alt_name is not none %}
                                    ({{ work.alt_name }})
                            {% endif %}
                        </h3>
                    </div>
                    <br>
                    {{ render_entity_ls('Composers', entity.composers) }}
                    {{ render_entity_ls('Interpreters', entity.interpreters) }}
                    {{ render_entity_ls('Other', entity.others) }}
                    <div>
                        <h4>{{ _('Additional Information') }}</h4>
                        <h3 class="indented">
                            {{ work.additional_data }}
                        </h3>
                    </div>
                    <br>
                </div>
            </div>
        </div>
        <div>
            <p class="text-center center-block">
                {{ work.copyright }} <br>
                {{ work.copyright_date }} <br>
                {{ work.copyright_country }}
            </p>
        </div>
    </div>
{% endblock %}
