{% extends 'layout/search.html.j2' %}
{% from 'macros/util.html.j2' import render_entity_ls, render_table, render_comments, render_copyright,
render_table, render_work_entities %}

{% block resultbody %}
    <div class="center-block" style="width: 80%;">
        <h2>{{ _('Recording') }}</h2>
        <br>
        <div class="container">
            <div class="row">
                <div id="wavesurfer-waveform">
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-2">
                    <button onclick="wavesurfer.playPause()">
                      &#9658;
                    </button>
                </div>
                  <div class="col-md-6 volbox">
                  <input id="volume" type="range" min="0" max="1" value="0.5" step="0.01">
                  </div>
            </div>
            <br>
            <div class="row">
                {{ render_work_entities(work, entity) }}
            </div>
            {{ render_comments(work) }}
            <div class="row">
                <div class="col-md-6">
                    {{ render_table(_('Tags'), work.tags) }}
                </div>
                <div class="col-md-6">
                    {{ render_table(_('Languages'), work.languages) }}
                </div>
            </div>
        </div>
        {{ render_copyright(work) }}
    <script>
        {# This is used in the /static/js/wavesurfer.js file #}
        var audio_file ="{{ work_data.full_path }}";
    </script>
    </div>
{% endblock %}
