{% extends 'layout/search.html' %}
{% from 'macros/artist.html' import render_artists %}
{% from 'macros/composition.html' import render_compositions %}
{% from 'macros/series.html' import render_series %}

{% block resultbody %}
    <div class="container">
        <div class="row">
           <div class="col-md-10">
               {{ render_artists(artists) }}
{#               {{ grupo(result) }}#}
               {{ render_compositions(compositions) }}
               {{ render_series(series) }}
           </div>

            {% include 'includes/_sidebar.html' %}
        </div>
    </div>


{% endblock %}