{% extends 'layout/search.html.j2' %}
{% from 'macros/util.html.j2' import render_table %}
{% from 'macros/composition.html.j2' import render_compositions %}

{% block resultbody %}
    <div class="center-block" style="width: 80%;">
        <h2>Serie</h2>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h4>Título</h4>
                        <h3 class="indented">
                            {{ series.nom }}
                        </h3>
                    </div>
                    <br>
                    <br>
                    <div>
                        {% if series.giro is not none %}
                            <h4>Giro</h4>
                            <h3 class="indented"> {{ series.giro }}</h3>
                            <br>
                        {% endif %}
                    </div>
                    <div>
                        {% if series.coment is not none and series.coment|trim != "" %}
                            <h4>Comentario</h4>
                            <p class="skinny text-center center-block"> {{ series.coment }}</p>
                            <br>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    {% if series.ruta_foto is not none %}
                    <div class="text-center fade-in">
                            <img src="{{ static('images/albums/'+series.id|string+'/'+series.ruta_foto|string) }}"
                            height="98%" width="98%">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        {{ render_table(albums, 'album') }}
        <hr>
        {{ render_compositions(compositions) }}
    </div>
{% endblock %}
