{% extends 'layout/search.html.j2' %}
{% from 'macros/util.html.j2' import render_comments, render_copyright, render_recordings, render_work_entities %}

{% block resultbody %}
    <div class="center-block" style="width: 80%;">
        <h2>{{ _('Series') }}</h2>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    {{ render_work_entities(work, entity) }}
                    <div>
                        {% if work.additional_data.giro is defined %}
                            <h4>Giro</h4>
                            <h3 class="indented"> {{ work.additional_data.giro }}</h3>
                            <br>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                    {% if work_data.full_path is not none %}
                    <div class="text-center fade-in">
                        <img src="{{ work_data.full_path }}" alt="{{ _('Error while loading photo') }}" height="98%" width="98%">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <hr>
        {{ render_comments(work) }}
        {{ render_recordings(recordings) }}
        {{ render_copyright(work) }}
    </div>
{% endblock %}
