{% extends 'layout/search.html.j2' %}
{% from 'macros/util.html.j2' import render_name_links, render_table %}
{% from 'macros/performance.html.j2' import render_performance %}

{% block resultbody %}
    <div class="center-block" style="width: 80%;">
        <h2>{{ _('Recording') }}</h2>
        <hr>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <h4>{{ _('Title') }}</h4>
                        <h3 class="indented">
                            {{ work.full_name }}
                            {% if work.alt_name is not none and work.alt_name|trim != "" %}
                                    ({{ work.alt_name }})
                            {% endif %}
                        </h3>
                    </div>
                    <br>
                    <div>
                        <h4>{{ _('Composers') }}</h4>
                        <h3 class="indented">
                            {% for composer in composers %}
                                {{ composer.link }} - {{ composer.role_id }} <br>
                            {% endfor %}
                        </h3>
                    </div>
                    <div>
                        <h4>{{ _('Interpreters') }}</h4>
                        <h3 class="indented">
                            {% for interpreter in interpreters %}
                                {{ interpreter.link }} - {{ interpreter.role_id }} <br>
                            {% endfor %}
                        </h3>
                    </div>
                    <div>
                        <h4>{{ _('Other') }}</h4>
                        <h3 class="indented">
                            {% for other in others %}
                                {{ other.link }} - {{ other.role_id }} <br>
                            {% endfor %}
                        </h3>
                    </div>
                    <br>
                    <div>
                        {% if composition.0.fecha_pub is not none %}
                            <h4>Fecha</h4>
                            <h3 class="indented">{{ composition.0.fecha_pub }}</h3>
                        {% endif %}
                    </div>
                    <br>
                     <div>
                        {% if composition.0.serie_id is not none %}
                            <h4>Serie</h4>
                            <h3 class="indented">
                                <a href="{{ url("series", series_id=composition.0.serie_id) }}">
                                    {{ composition.0.nom }}
                                </a>
                            </h3>
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-6">
                     {% if composition.0.ruta_foto is not none %}
                    <div class="text-center fade-in">
                            <img src="{{ static('images/albums/' + composition.0.serie_id|string
                                                           + '/' + composition.0.ruta_foto|string) }}"
                            height="98%" width="98%">
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
        <div>
            {% if composition.0.texto is not none and composition.0.texto|trim != "" %}
                <h4>Texto</h4>
                <p class="skinny text-center center-block"> {{ composition.0.texto }}</p>
                <br>
            {% endif %}
        </div>
        <div class="row">
            <div class="col-md-6">{{ render_table(themes, 'temas') }}</div>
            <div class="col-md-6">{{ render_table(languages, 'idiomas') }}</div>
        </div>
        <div>
            <p class="text-center center-block">{{ composition.0.licencia_cobertura }}</p>
        </div>
        {% for performance in performances %}
            {{ render_performance(performance) }}
        {% endfor %}
    </div>
{% endblock %}
