{%  macro non(thing) -%}
    {% if thing is not none %}
        {{ thing }}
    {% endif %}
{% endmacro %}

{% macro render_data_links(title, get_param, data_ls) %}
    <div>
        <h3><i>{{ title }}</i></h3>
        {% for datum in data_ls %}
            <div>
                <a href="{{ url('search') }}?term={{ datum.name }}&filter={{ get_param }}">{{ datum.name }}</a> - {{ datum.count }}
            </div>
        {% endfor %}
    </div>
{% endmacro %}


{% macro render_title(is_authenticated, admin_url, title) %}
<div class="row">
    <div class="col-md-10">
        <h2>
        {{ title }}
        </h2>
    </div>
    <div class="col-md-2">
        {% if is_authenticated %}
            <strong>
                <a class="pull-right" href="{{ admin_url }}">{{ _('Edit') }}</a>
            </strong>
        {% endif %}
    </div>
</div>
{% endmacro %}


{%  macro render_name_link(entity) -%}
        <a href="{{ url("entity", entity_id=entity.entity_id) }}">{{ entity.entity_name }}</a>
{% endmacro %}


{%  macro render_work_link(work) -%}
        <a href="{{ url("work", work_id=work.work_id) }}">{{ work.work_name }}</a>
{% endmacro %}


{%  macro render_entity(entity) -%}
      {{ render_name_link(entity) }} - {{ entity.relationship }} <br>
{% endmacro %}


{% macro render_entity_ls(entity_type, entities) %}
<div>
    <h4>{{ entity_type }}</h4>
    <h3 class="indented">
        {% for entity in entities %}
            {{ render_entity(entity) }}
        {% endfor %}
    </h3>
</div>
{% endmacro %}


{% macro render_search_entity(entity_type, entities) %}
<div>
    <div class="row">
        <strong>{{ entity_type }}</strong>
    </div>
    <div class="row">
        {% for entity in entities %}
            {{ render_entity(entity) }}
        {% endfor %}
    </div>
</div>
{% endmacro %}


{% macro render_comments(work) %}
    <div>
        {% if work.commentary is not none %}
            <h4>{{ _('Commentary') }}</h4>
            <p class="skinny text-center center-block"> {{ work.commentary }}</p>
            <br>
        {% endif %}
    </div>
{% endmacro %}


{% macro render_search_entities(entity) %}
<div>
    {{ render_search_entity(_('Composers'), entity.composers) }}
    {{ render_search_entity(_('Interpreters'), entity.interpreters) }}
    {{ render_search_entity(_('Other'), entity.others) }}
</div>
{% endmacro %}


{% macro render_paginator(page, search_terms) %}
<div class="pagination">
    {% if page.has_other_pages %}
      <ul class="pagination">
        {% if page.has_previous %}
          <li><a href="?page={{ page.previous_page_number }}&{{ search_terms }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in page.paginator.page_range %}
            {% if loop.index < 11 %}
                  {% if page.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                    <li><a href="?page={{ i }}&{{ search_terms }}">{{ i }}</a></li>
                  {% endif %}
            {% endif %}
        {% endfor %}
        {% if page.has_next %}
          <li><a href="?page={{ page.next_page_number }}&{{ search_terms }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}
</div>
{% endmacro %}


{% macro render_copyright(work) %}
<div>
    <p class="text-center center-block">
        {{ non(work.copyright) }} <br>
        {{ non(work.copyright_date) }} <br>
        {{ non(work.copyright_country) }}
    </p>
</div>
{% endmacro %}


{% macro render_work_dates(work) %}
<div class="row">
    <div class="col-md-6">
        {{ _( "Published" ) }}:
    </div>
    <div class="col-md-6">
         {{ work.date_published }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ _( "Recorded" ) }}:
    </div>
    <div class="col-md-6">
         {{ work.date_recorded }}
    </div>
</div>
<div class="row">
    <div class="col-md-6">
        {{ _( "Contributed" ) }}:
    </div>
    <div class="col-md-6">
         {{ work.date_contributed }}
    </div>
</div>
{% endmacro %}

{% macro render_recordings(list) -%}
    {% if list|length > 0 %}
        <div>
            <script>
                var audioIterator = {
                    containersIds: [],
                    audioPaths: [],
                    waveformPeaks: []
                };
            </script>
            <div>
                <table class="table">
                <tbody>
                {% for entry in list %}
                    <tr>
                        <td class="col-md-6">
                            <div class="wavesurfer-padding" id="wavesurfer-container-{{ loop.index }}">
                            </div>
                            <div class="row">
                                <a href="{{ url("work", work_id=entry.work.work_id) }}">
                                    <h3>{{ entry.work.work_name }}</h3>
                                </a>
                            </div>
                            {{ render_work_dates(entry.work) }}
                        </td>
                        <td class="col-md-6">
                            <div class="wavesurfer-padding">
                                {{ render_search_entities(entry.entities) }}
                            </div>
                            <div>
                                {{ _('Part of') }}
                                <strong>
                                    <a href="{{ url('collection', collection_id=entry.work.in_collection) }}">{{ entry.work.collection_name }}</a>
                                </strong>
                            </div>
                            <br>
                            <div>
                                {% for tag in entry.work.tags %}
                                    <strong>
                                        <a href="{{ url('search') }}?term={{ tag }}&filter=tags">{{ tag }}</a> &nbsp
                                    </strong>
                                {% endfor %}
                            </div>
                        </td>
                    </tr>
                    <script>
                        audioIterator.containersIds.push("wavesurfer-container-{{ loop.index }}");
                        audioIterator.audioPaths.push("{{ entry.work.audio }}");
                        audioIterator.waveformPeaks.push({{ entry.work.waveform_peaks }});
                    </script>
                {% endfor %}
                </tbody>
                </table>
            </div>
        </div>
   {% endif %}
{% endmacro %}


{% macro render_table(name, list) -%}
    {% if list is not none %}
        <div>
            {{ name|safe|title }}
        </div>
        <div>
            <table class="table table-striped">
            <tbody>
            {% for entry in list %}
                <tr>
                    <td>{{ entry }}</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
   {% endif %}
{% endmacro %}