{%  macro non(thing) -%}
    {% if thing is not none %}
        {{ thing }}
    {% endif %}
{% endmacro %}


{%  macro render_name_link(entity) -%}
        <a href="{{ url("entity", entity_id=entity.entity_id) }}">{{ entity.entity_name }}</a>
{% endmacro %}


{%  macro render_work_link(work) -%}
        <a href="{{ url("work", work_id=work.work_id) }}">{{ work.work_name }}</a>
{% endmacro %}


{%  macro render_entity(entity) -%}
      {{ render_name_link(entity) }} - {{ entity.relationship }} <br>
{% endmacro %}


{% macro render_entity_ls(entity_type, entities) %}
<div>
    <h4>{{ _(entity_type) }}</h4>
    <h3 class="indented">
        {% for entity in entities %}
            {{ render_entity(entity) }}
        {% endfor %}
    </h3>
</div>
{% endmacro %}


{% macro render_search_entity(entity_type, entities) %}
<div>
    <div class="row">
        <strong>{{ _(entity_type) }}</strong>
    </div>
    <div class="row">
        {% for entity in entities %}
            {{ render_entity(entity) }}
        {% endfor %}
    </div>
</div>
{% endmacro %}


{% macro render_comments(work) %}
    <div>
        {% if work.commentary is not none %}
            <h4>{{ _('Commentary') }}</h4>
            <p class="skinny text-center center-block"> {{ work.commentary }}</p>
            <br>
        {% endif %}
    </div>
{% endmacro %}

{% macro render_work_entities(work, entity) %}
<div>
    <h4>{{ _('Title') }}</h4>
    <h3 class="indented">
        {{ work.full_name }}
        {% if work.alt_name is not none %}
                ({{ work.alt_name }})
        {% endif %}
    </h3>
</div>
{{ render_entity_ls('Composers', entity.composers) }}
{{ render_entity_ls('Interpreters', entity.interpreters) }}
{{ render_entity_ls('Other', entity.others) }}
<br>
{% endmacro %}


{% macro render_search_entities(entity) %}
<div>
    {{ render_search_entity('Composers', entity.composers) }}
    {{ render_search_entity('Interpreters', entity.interpreters) }}
    {{ render_search_entity('Other', entity.others) }}
</div>
{% endmacro %}



{% macro render_copyright(work) %}
<div>
    <p class="text-center center-block">
        {{ non(work.copyright) }} <br>
        {{ non(work.copyright_date) }} <br>
        {{ non(work.copyright_country) }}
    </p>
</div>
{% endmacro %}

{% macro render_recordings(list) -%}
    {% if list is not none %}
        <div class="card">
            <script>
                var audioIterator = {
                    containersIds: [],
                    audioPaths: [],
                    waveformPeaks: []
                };
            </script>
            <div id="recordings-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table">
                    <tbody>
                    {% for entry in list %}
                        <tr>
                            <td>
                                <div class="wavesurfer-padding" id="wavesurfer-container-{{ loop.index }}">
                                </div>
                                <div>
                                    {{ _( "Tags" ) }}: {{ entry.work.tags }}
                                </div>
                                <div>
                                    {{ _( "Languages" ) }}: {{ entry.work.languages }}
                                </div>
                            </td>
                            <td>
                                <div class="wavesurfer-padding">
                                    <div class="row">
                                        <a href="{{ url("work", work_id=entry.work.work_id) }}">
                                            <strong>{{ entry.work.work_name }}</strong>
                                        </a>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ _( "Published" ) }}:
                                        </div>
                                        <div class="col-md-6">
                                             {{ entry.work.date_published }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ _( "Recorded" ) }}:
                                        </div>
                                        <div class="col-md-6">
                                             {{ entry.work.date_recorded }}
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            {{ _( "Contributed" ) }}:
                                        </div>
                                        <div class="col-md-6">
                                             {{ entry.work.date_contributed }}
                                        </div>
                                    </div>
                                    {{ render_search_entities(entry.entities) }}
                                </div>
                            </td>
                        </tr>
                        <script>
                            audioIterator.containersIds.push("wavesurfer-container-{{ loop.index }}");
                            audioIterator.audioPaths.push("{{ entry.work.audio }}");
                            audioIterator.waveformPeaks.push({{ entry.work.waveform_peaks }});
                        </script>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}


{% macro render_table(name, list) -%}
    {% if list is not none %}
        <hr>
        <div class="card">
            <div class="card-header" role="tab" id="{{ name|safe }}-heading">
                <h3 class="mb-0">
                    <a data-toggle="collapse" data-parent="#accordion" href="#{{ name|safe }}-collapse" aria-expanded="true" aria-controls="{{ name|safe }}-collapse">
                        {{ name|safe|title }}
                    </a>
                </h3>
            </div>
            <div id="{{ name|safe }}-collapse" class="collapse in">
                <div class="card-block">
                    <table class="table table-striped">
                    <tbody>
                    {% for entry in list %}
                        <tr>
                            <td>{{ entry }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                </div>
            </div>
        </div>
   {% endif %}
{% endmacro %}