<div class="text-center">
    <small>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br><br><a href="https://poeticasonora.mx/Sobre-el-proyecto" rel="history">Sobre el proyecto</a> | <a href="https://poeticasonora.mx/Participantes" rel="history">Participantes</a> | <a href="https://poeticasonora.mx/Instancias-colaboradoras-PS-no-seria-posible-sin" rel="history">Instancias colaboradoras |</a> <a href="https://poeticasonora.mx/Convocatorias-Prensa" rel="history">Prensa</a> |

<a href="https://poeticasonora.mx/Contact-o" rel="history">Contacto</a>

<br>
<a href="https://laboratorioextendido.dropmark.com/150515">Documentación visual</a> | <a href="https://poeticasonora.mx/Creditos-2016" rel="history">Créditos 2016</a> | <a href="https://poeticasonora.mx/Creditos-2017" rel="history">Créditos 2017</a> | <a href="https://poeticasonora.mx/Creditos-2018" rel="history">Créditos 2018</a> |

<a href="https://poeticasonora.mx/Creditos-2019" rel="history">Créditos 2019</a> | <a href="https://poeticasonora.mx/Creditos-2020" rel="history">Créditos 2020</a>&nbsp; <br><i class="fa fa-ellipsis-h"></i>


<br>
<a href="https://poeticasonora.mx/About-the-project" rel="history">About the project</a> | <a href="https://poeticasonora.mx/Participantes" rel="history">Participants</a> | <a href="https://poeticasonora.mx/Collaborating-Institutions-PS-is-made-possible" rel="history">Collaborating Institutions</a> | <a href="https://poeticasonora.mx/Calls-Press" rel="history">Press</a> |
<a href="https://poeticasonora.mx/Contact-o" rel="history">Contact</a>

<br><a href="https://laboratorioextendido.dropmark.com/150515">Visual Documentation</a> | <a href="https://poeticasonora.mx/Credits-2016" rel="history">Credits 2016</a> | <a href="https://poeticasonora.mx/Credits-2017" rel="history">Credits 2017</a> | <a href="https://poeticasonora.mx/Credits-2018" rel="history">Credits 2018</a> | <a href="https://poeticasonora.mx/Credits-2019" rel="history">Credits 2019</a> | <a href="https://poeticasonora.mx/Credits-2020" rel="history">Credits 2020</a>&nbsp;<br><br><b><a href="http://www.twitter.com/_lleom_" target="_blank" class="icon-link"><i class="fa fa-twitter"></i></a> <a href="https://www.facebook.com/laboratorioextendido" target="_blank" class="icon-link"><i class="fa fa-facebook"></i></a></b><br>#PoéticaSonoraMX

        <br>
        <br>
        <br>
    </small>
</div>