    <nav class="navbar navbar-default">
      <div class="search-bar-margin">
        <div class="navbar-header">
          <a class="navbar-brand" href="http://poeticasonora.mx">Poética Sonora</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="{{ url('home') }}">{{ _('Home') }}</a></li>
            <li><a href="http://poeticasonora.mx/Proyecto">{{ _('About') }}</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            {% if not user.is_authenticated %}
                <li><a href="{{ url('admin:index') }}">{{ _('Login') }}</a></li>
            {% else %}
                <li><a href="{{ url('admin:index') }}">{{ _('Admin') }}</a></li>
                <li><a href="{{ url('admin:logout') }}">{{ _('Logout') }}</a></li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
