<form name="search-form" class="form-horizontal" role="form" action="{{ url('search') }}" method="get">
    <div class="input-group search-bar-margin">
        <input name="term" type="text" class="form-control" placeholder="Buscar"/>
        <div class="input-group-btn">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
    <div class='search-bar-margin'>
      <a data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
        {{ _('Advanced search') }}
      </a>
        <div class="collapse" id="collapseExample">
          <div class="card card-body">
            Advaned search Options here.
          </div>
        </div>
    </div>
</form>

