<form name="search-form" role="form" action="{{ url('search') }}" method="get">
    <div class="row search-bar-margin">
        <div class="col-md-8 no-col-pad">
            <input name="term" type="text" class="form-control input-searchbar" placeholder="{{ _('Search') }}"/>
        </div>
        <div class="col-md-3 no-col-pad">
            <label for="labelid" style="display: none"></label>
            <select id="labelid" name="filter" class="form-control dropdown-searchbar">
              {% for field in get_search_fields() %}
                  {% if 'filter' in request.GET %}
                      {% if field[0] == request.GET.filter  %}
                        <option value="{{ field[0] }}" selected>{{ field[1] }}</option>
                      {% else %}
                        <option value="{{ field[0] }}">{{ field[1] }}</option>
                      {% endif %}
                  {% else %}
                        {% if field[0] == 'works' %}
                        <option value="{{ field[0] }}" selected>{{ field[1] }}</option>
                      {% else %}
                        <option value="{{ field[0] }}">{{ field[1] }}</option>
                      {% endif %}
                  {% endif %}
              {% endfor %}
            </select>
        </div>
        <div class="col-md-1 no-col-pad">
            <button type="submit" class="btn btn-primary">
                <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </div>
    </div>
</form>
