<form name="search-form" class="form-horizontal" role="form" action="{{ url('search') }}" method="get">
    <div class="input-group search-bar-margin">
        <input name="term" type="text" class="form-control" placeholder="Buscar"/>
        <div class="input-group-btn">
            <div class="btn-group" role="group">
                <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
            </div>
        </div>
    </div>
    <div class='search-bar-margin'>
      <a data-toggle="collapse" href="#advanced-search" role="button" aria-expanded="false" aria-controls="advanced-search">
        {{ _('Advanced search') }}
      </a>
      <div class="collapse" id="advanced-search">
        <div class="card card-body">
            <div class="pull-right">
              <select name="filter-field">
                  {% for field in get_search_fields() %}
                      {% if field[0] == 'work' %}
                        <option value="{{ field[0] }}" selected>{{ field[1] }}</option>
                      {% else %}
                        <option value="{{ field[0] }}">{{ field[1] }}</option>
                      {% endif %}
                  {% endfor %}
              </select>
            </div>
        </div>
      </div>
    </div>
</form>

