{% from 'macros/util.html.j2' import render_data_links %}

<div class="sidebar-nav-fixed pull-right affix">
    <div class="well sidebar-dims">
        <div>
            <h3><i>{{ _('Tags') }}</i></h3>
            {% for tag in metadata.tags %}
                <a href="{{ url('search') }}?term={{ tag.name }}&filter-field=tags" style="font-size: {{ tag.count }}px">{{ tag.name }}</a>
            {% endfor %}
        </div>
        <div>
            <h3><i>{{ _("Collections") }}</i></h3>
            {% for collection in metadata.collections %}
                <div>
                    <a href="{{ url('collection', collection.id) }}">{{ collection.name }}</a> - {{ collection.count }}
                </div>
            {% endfor %}
        </div>
{#        {{ render_data_links() }}#}
    </div>
</div>
